body {
    background:#eee;
    margin:0;
    font-family: Arial;
    padding: 0;
}

canvas {
    display:block;
}

h3 .glyphicon {
    margin-right:0.5em;
    font-size:80%;
}

.main {
    padding-left:340px;
}

.title {
    margin-top:0;
}

.controls h4 {
    border-top: 1px solid #ccc;
    padding: 5px 10px;
    background: #ddd;
    color: #333 !important;
    font-size: 14px !important;
}

.renderer {
    height:200px;
    border:1px dotted #ccc;
    border-radius: 4px;
    margin-bottom:10px;
}

.renderer canvas {
    width:100%;
    height:100%;
}

.code-display {
    border: 0;
    font-size:12px;
}

.code-display code {
    min-height: 200px;
}

.controls {
    position:fixed;
    left:0;
    top:0;
    height:100%;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    background:#eee;
    padding:10px;
    font-size:12px;
    width:340px;
    -webkit-user-select:none;
    user-select:none;
    box-sizing: border-box;
}

.controls .row {
    min-height:36px;
}

.controls label {
    margin-top:5px;
}

.check {
    margin-right:5px !important;
    margin-top:8px !important;
}

.color::-webkit-color-swatch-wrapper {
    padding:0;
}
.color::-webkit-color-swatch {
    border: 1px solid rgba(0,0,0,0.4);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb:vertical {
  margin: 5px;
  background-color: #999;
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 5px;
  display: block;
}

@media (max-width: 760px) {
    .controls {
        width: 260px;
    }
    .main {
        padding-left: 260px;
    }
}

@media (max-width: 480px) {
    .controls {
        width: 100%;
        position:absolute;
        height: 50%;
    }
    .main {
        position:fixed;
        height:50%;
        top:50%;
        width:100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        padding:0;
        border-top:2px dotted #999;
    }
}