body {
    background:#ecedf1;
    margin:0;
    font-family: "Libre Franklin", sans-serif;
    padding: 0;
}

canvas {
    display:block;
}

h3 > .glyphicon {
    margin-right:0.5em;
    font-size:80%;
}

h3 {
    font-weight:700;
}

.main {
    padding-left:340px;
}

.title {
    font-size: 22px;
    color: #fff;
    font-weight:700;
}

.controls h4 {
    border-bottom: 1px solid #3d495a;
    padding: 5px 0;
    color: #e91e63;
    font-size: 16px;
    font-weight:700;
}

.renderer {
    height:200px;
    border-radius: 4px;
    margin-bottom:10px;
}

.renderer canvas {
    width:100%;
    height:100%;
}

.code-display {
    border: 0;
    font-size:12px;
}

.code-display code {
    min-height: 200px;
}

.controls {
    position:fixed;
    left:0;
    top:0;
    height:100%;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    background:#272d37;
    color:#cfd4db;
    font-size:12px;
    width:340px;
    -webkit-user-select:none;
    user-select:none;
    box-sizing: border-box;
}

.hljs {
    background-color: #282e38;
}

.controls::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.controls::-webkit-scrollbar-thumb {
    background-color: #647086;
    border-radius: 4px;
}

.config {
    margin-bottom:4px;
}
.config label {
    padding-top: 4px;
}

.config .glyphicon {
    margin-right: 5px;
}

.well {
    background-color: #d8d9e0;
}


.controls h4 {
    cursor: pointer;
}

.controls .collapsed:before {
    content: '\25B8';
    display: inline-block;
    width: 20px;
}
.controls .expanded:before {
    content: '\25BE';
    display: inline-block;
    width: 20px;
}

.controls .row {
    min-height:36px;
}

.controls label {
    margin-top:5px;
    font-weight:normal;
}

.controls input,
.controls textarea,
.controls select {
    background-color: #14171d;
    color: #fff;
    border-color: #3d495a;
}

.gradient {
    margin-bottom:8px;
}
.gradient .color-group {
    margin-bottom:5px;
}
.gradient .color-group .btn {
    padding-left:4px;
    padding-right:4px;
}
.gradient .color-group .glyphicon {
    font-size: 10px;
}

.check {
    margin-right:5px !important;
    margin-top:8px !important;
}

.color {
    padding:0 !important;
}

.color::-webkit-color-swatch-wrapper {
    padding:0;
}
.color::-webkit-color-swatch {
    border: 1px solid rgba(0,0,0,0.4);
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-group-full {
    display: flex;
}

.btn-group-full .btn {
    width:100%;
}

.font-loader {
    min-height:30px !important;
}

@media (max-width: 760px) {
    .controls {
        width: 260px;
    }
    .main {
        padding-left: 260px;
    }
    .title {
        font-size:160%;
        height: 30px;
    }
}

@media (max-width: 480px) {
    .controls {
        width: 100%;
        position:absolute;
        height: 50%;
    }
    .main {
        position:fixed;
        height:50%;
        top:50%;
        width:100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        padding:0;
        border-top:2px dotted #999;
    }
}